body {
		background-color: #FFF;
		border: 3px solid #c71585;
		width: 760px;
		margin-top: 20px;
	  margin-left: auto;
	  margin-right: auto;
		padding: 15px;
}
h1 {
		font-size: 3em;
		font-family: "Comic Sans MS", Arial, sans-serif;
}
.sidebar {
	width: 25%;
	float: right;
	margin: 10px;
	background-color: #FAEBC7;
	padding: 10px 20px;
	border: 1px dotted #FC6512;
	border-top: 20px solid #FC6512;
}

canvas {border: 2px solid silver; }
